<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head') %>
  </head>
  <body>
    <%- include('../part/nav') %>

    <div class="container mb-3">

      <div class="jumbotron" style="background-color: #85AF4B;">
        <h1>board</h1>
        <P>자유게시판</p>
      </div>

    </div>
  </body>
</html>